{% extends "base.html" %}

{% block title %}Author Register{% endblock %}

{%block content %}

<div class="row">
    <div class+"col-md-offset-3 col-md-6">
       {% if action == "new" %}
            <h3> User Registration</h3>
       {% elif action == "edit" %}
           <h3> Edit Author </h3>
        {% else %}
            <h3>Reset Password</h3>
        {% endif %}
       
        
        {% from "_formhelpers.html" import render_field %}
        {% include '_flashmessages.html' %}
        {% if action == "new" %}
        <form method="POST" action="{{url_for('register') }}" enctype="multipart/form-data" role="form">
        {% elif action == "edit" %}
        <form method="POST" action="{{url_for('editbio') }}" enctype="multipart/form-data" role="form">
        {% else %}
        <form method="POST" action="{{url_for('resetpassword') }}" enctype="multipart/form-data" role="form">
        {% endif %}    
            
            {{ form.hidden_tag() }}
           
            {{ render_field(form.fullname, class='form-control')}}
            {{ render_field(form.email, class='form-control')}}
            {{ render_field(form.username, class='form-control')}}
            {{ render_field(form.password, class='form-control')}}
            {{ render_field(form.confirm, class='form-control')}}
               
            {% if action == "edit"  or action == "new" %}
            {{render_field(form.bio, class='form-control')}}
            {{ render_field(form.image, class='form-control') }}
            {% endif %}
            {% if action == "new" %}
                <button type="submit" class="btn btn-default">Register</button>
            {% else %}
                <button type="submit" class="btn btn-default">Update</button>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}